.send > form {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.send > form > input[name='message'] {
    width: 100%;
    border: none;
    padding: 11px 32px 10px 8px;
}

.send > form > button {
    border: none;
    cursor: pointer;
}

.send > form > .file {
    width: 40px;
    display: none
}

.send > form > button[type='submit'] {
    width: 50px;
    background: #861C7B;
    color: #fff;
}