.loader-wrapper {
    position: fixed;
    top: 40%;
    left: 47%;
    z-index: 9999;
}

.regot-loader {
    position: relative;
    font-size: 20px;
    width: 4em;
    height: 1em;
}

.regot {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #891C7C;
    border-radius: 50%;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.regot1, .regot2 {
    left: 0;
}

.regot3 {
    left: 1.5em;
}

.regot4 {
    left: 3em;
}

@keyframes show {
    from { transform: scale(0.001) }
    to { transform: scale(1) }
}

@keyframes shift {
    to { transform: translateX(1.5em) }
}

@keyframes hide {
    from { transform: scale(1) }
    to { transform: scale(0.001) }
}

.regot1 {
    animation-name: show;
}

.regot2, .regot3 {
    animation-name: shift;
}

.regot4 {
    animation-name: hide;
}